HIGHT/hipubchem 
HIGHT/data 
HIGHT/datasets__ 
HIGHT/checkpoints 
HIGHT_2/checkpoints 
HIGHT_2/data 
HIGHT_2/data copy
HIGHT_2/datasets__ 
HIGHT_2/hipubchem 
HIGHT_2/hi_pub_chem.csv 
HIGHT_3/checkpoints 
HIGHT_3/data 
HIGHT_3/datasets__ 
HIGHT_3/hipubchem 
HIGHT_3/hi_pub_chem_10000.csv 
HIGHT_4/checkpoints 
HIGHT_4/data 
HIGHT_4/datasets__  
HIGHT_4/hipubchem 
HIGHT_4/hi_pub_chem_10000.csv 
